body { 
  margin:0; padding:0; 
  font-family: 'AKZ Reg', sans-serif;
  color: #3d4e5a;  
  font-size: 14px;
  background-color: #fff;
  min-height: 100%;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.333em;
}

.byline {
  margin-left: 10px;
  margin-top: 0.05em;
}

#map {
  /*position: absolute;*/
  border: 10px solid #fff;
  height: 550px;
  width: 900px;
  /*vertical-align: middle;*/
  display: inline-block;
  margin-left: -50px;
}

#content {
    text-align: center;
    margin-top: -135px;
}

.page-header {
  padding-top: 10px;
  text-align: center;
}

.header-inner {
  display:inline-block;  
  padding-left: 10px;
  width: 900px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

.idivelink {
  position: relative;
  z-index: 1000;
  line-height: 20px;
  font-size: 12px;
  white-space: nowrap;
  transition: right 100ms;
  -webkit-transition: right 100ms;
}

.idivelogo {
  display: inline-block;
  width: 65px;
  height: 28px;
  text-indent: -999px;
  overflow: hidden;
  background: transparent url(/images/idive-logo.png) no-repeat 0px 0px;
}

#infoarea {
  text-align: left;
  display: inline-block; 
  width: 900px;
}

.row {
  *zoom: 1;
}

.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}

.row:after {
  clear: both;
}

button {
  z-index: 1000;
}


#map-ui {
  position:relative;
  top:180px;
  left:740px;
  list-style:none;
  margin:0;padding:0;
  z-index:100;
  width:50px;
  display: inline-block; 
 
  }
#map-ui a {
  font:normal 13px/18px 'Helvetica Neue',Helvetica,sans-serif;
  background:#FFF;
  color:#27537F;
  display:block;
  margin:0;padding:0;
  border:1px solid #BBB;
  border-bottom-width:0;
  min-width:138px;
  padding:10px;
  text-decoration:none;
  }
#map-ui a:hover { background:#ECF5FA; }
#map-ui li:last-child a {
  border-bottom-width:1px;
  -webkit-border-radius:0 0 3px 3px;
          border-radius:0 0 3px 3px;
  }
#map-ui li:first-child a {
  -webkit-border-radius:3px 3px 0 0;
          border-radius:3px 3px 0 0;
        }
#map-ui a.active {
  background:#27537F;
  border-color:#27537F;
  border-top-color:#FFF;
  color:#FFF;
  }ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}

ul.inline > li,
ol.inline > li {
  display: inline-block;
  *display: inline;
  padding-right: 5px;
  padding-left: 5px;
  *zoom: 1;
}


h3 a { color: #4F9EB5; text-decoration }
h3 a:hover { color: #0E9AD6; border-bottom: 1px dashed #0E9AD6; }




@font-face {
    font-family: 'AKZ Light';
    src: url('../media/akzidenzgrotesk-light-webfont.eot');
    src: url('../media/akzidenzgrotesk-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../media/akzidenzgrotesk-light-webfont.woff') format('woff'),
         url('../media/akzidenzgrotesk-light-webfont.ttf') format('truetype'),
         url('../media/akzidenzgrotesk-light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'AKZ Reg';
    src: url('../media/berthold_akzidenz_grotesk_be_regular-webfont.eot');
    src: url('../media/berthold_akzidenz_grotesk_be_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../media/berthold_akzidenz_grotesk_be_regular-webfont.woff') format('woff'),
         url('../media/berthold_akzidenz_grotesk_be_regular-webfont.ttf') format('truetype'),
         url('../media/berthold_akzidenz_grotesk_be_regular-webfont.svg#berthold_akzidenz_grotesk_bRg') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'AKZ Med';
    src: url('../media/berthold_akzidenz_grotesk_be_medium-webfont.eot');
    src: url('../media/berthold_akzidenz_grotesk_be_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../media/berthold_akzidenz_grotesk_be_medium-webfont.woff') format('woff'),
         url('../media/berthold_akzidenz_grotesk_be_medium-webfont.ttf') format('truetype'),
         url('../media/berthold_akzidenz_grotesk_be_medium-webfont.svg#berthold_akzidenz_grotesk_bMd') format('svg');
    font-weight: normal;
    font-style: normal;
  }